extends ./layout.pug
block contenido
	section#header
		.wm-container
			div(data-indicators="true").carousel.carousel-slider.center
				div.carousel-fixed-item.center
					a.btn.waves-effect.white.grey-text.darken-text-2 Servicios
				div(href="#one!").carousel-item.white-text.blue.darken-4
					h5 Consultoría en tecnologías de la información
					p.white-text.wm-container Empresa dedicada a brindar diversos productos y servicios para resolver problemas en el campo de la informática. Preparados para los cambios inminentes mediante la capacitación constante.
				div(href="#two!").carousel-item.white-text.cyan
					h5 Misión
					p.white-text.wm-container Brindar diversos productos y servicios para resolver problemas en el campo de la informática de forma vanguardista poniendo en práctica la preparación que tiene nuestro cuerpo de trabajo adaptándose a las necesidades de cualquier sector social cuyo objetivo principal es su satisfacción desde el primer contacto; facilitando la libertad y medios de acceso a las tecnologías de la información.
				div(href="#three!").carousel-item.white-text.purple.darken-4
					h5 Visión
					p.white-text.wm-container Consolidarnos como empresa líder en el ramo de las tecnologías de la información para llegar a ser la primer opción del cliente. Conservando como valores primordiales la responsabilidad, puntualidad, honestidad, constancia y pulcritud que nos han distinguido hasta ahora. Estar preparados para los cambios inminentes mediante capacitación constante.


