doctype html
html(lang="en")
	head
		title WebMonster
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		meta(name="description", content="descripoción webmonstrosa")
		link(rel='shorcut icon', href='imgs/iconBlue.png', type='image/png')
		link(rel="stylesheet", href="css/wmStyle.css")
		link(rel="stylesheet", href="css/materialize.css")
		link(rel="stylesheet" href="css/font-awesome.min.css")
		link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
	body
		nav.blue-grey.darken-4
			a(href="#", title="Home").brand-logo.center
				img(src="imgs/logo_blueWM.png", alt="logo webmonster").wm-logo
			a(href="#", data-activates="collapseWindow").button-collapse
				i.material-icons menu
			ul.hide-on-med-and-down
				li: a(href="#") Servicios
				li: a(href="#") Contacto
			ul#collapseWindow.side-nav
				li.user-view
					.background
						img(src="imgs/lap.jpg", alt="").wm-backgroundImg
				li: a(href="#") Desarrollo web
					i.material-icons important_devices
				li: a(href="#") Aplicaciones móviles
					i.material-icons phonelink_setup
				li: a(href="#") Ecommerce
					i.material-icons store
				li.divider
				li: a(href="#") Infraestructura
					i.material-icons cloud_done
				li.divider
				li: a(href="#").waves-effect Contacto
					i.material-icons call
		section#header
			.wm-container
				h3 WebMonster
		section#footer
			.wm-basic-container
				f2 #WeAreWebMonster
			.wm-container
				a(href="https://www.facebook.com/WebMonsterr/", target="_blank", title="Like!")
					i(aria-hidden="true").fa.fa-facebook.wm-icons
				a(href="https://twitter.com/WebMonsterMX", target="_blank", title="Follow the white rabit!")
					i(aria-hidden="true").fa.fa-twitter.wm-icons
				a(href="#Contact", title="Talk with the experts.")
					i(aria-hidden="true").fa.fa-phone.wm-icons

		script(type="text/javascript", src="https://code.jquery.com/jquery-3.2.1.min.js")
		script(type="text/javascript", src="js/materialize.js")
		script.
			jQuery(document).ready(function(){
				jQuery (".button-collapse").sideNav();
				});
