extends ../layout.pug
block contenido
	section
		.wm-container-space
			.row
				form(method="post", action="/bazar", enctype="multipart/form-data").col.s12
					.row
						.input-field.col.s6
							input(placeholder="Nombre del Producto", id="wm_product", type="text", class="validate", name="product")
							label(for="wm_product") Producto
						.input-field.col.s6
							textarea(placeholder="Descripci칩n del Producto", id="wm_description", type="text", class="validate", name="description")
							label(for="wm_description") Descripci칩n
					.row
						.input-field.col.s6
							input(placeholder="Precio del producto", id="wm_pricing", type="number", class="validate", name="pricing")
							label(for="wm_pricing") Precio
						.input-field.col.s6
							input(placeholder="Contrase침a", id="wm_password", type="password", class="validate", name="password")
							label(for="wm_password") Contrase침a
					.row
						.input-field.col.s6
							label Imagen del producto
							input(type="file", name="image_avatar")
						.input-field.col.s6
							input(type="submit", value="Guardar").btn
		
	
